/Marco_Base_Codeigniter/nbproject/private/
/Marco_Base_Codeigniter/
/application/config/
/application/cache/
/application/core/
/application/helpers/
/application/hooks/
/application/language/
/application/logs/
/system/
/license.txt
/index.php